<!-- Footer -->
  <section class="footer-v14 g-text-transform__uppercase g-pt-40 g-pb-40">
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-3 g-sm-mb-20">
  				&copy; 2016 All rights reserved.<br> Website by <a href="#" target="_blank">SWFL CRM Specialists</a>
  			</div>

  			<div class="col-sm-3 g-sm-mb-20">
					Call us<br>
					<span class="g-color-default"><a href="tel:+1-239-223-7803">(239) 223-7803</a></span>
  			</div>

<!--   			<div class="col-md-2">
					Email us<br>
					<a href="mailto:#">email@htmlstream.com</a>
  			</div> -->

  			<div class="col-sm-3 g-sm-mb-20">
					Our location<br>
					<span class="g-color-default">Fort Myers, FL</span>
  			</div>

  			<div class="col-sm-3 text-right g-sm-text-left">
					<ul class="social-icons">
						<li><a class="rounded-x"><img src="assets/img-temp/sf_admin.png" href="#"></a></li>
						<li><a class="rounded-x"><img src="assets/img-temp/sf_dev.png" href="#"></a></li>
						<li><a class="rounded-x"><img src="assets/img-temp/sf_sales_cloud.png" href="#"></a></li>
						
					</ul>
  			</div>
  		</div>
  	</div>
  </section>
  <!-- End Footer -->

</main>


<!-- JS Global Compulsory -->

<script src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="../assets/plugins/smoothScroll.js"></script>
<script src="../assets/plugins/jquery.easing.min.js"></script>
<script src="../assets/plugins/owl-carousel2/owl.carousel.min.js"></script>
<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>








<!-- JS Page Level -->
<script src="assets/js/pages/page_contacts.js"></script>

<!-- For Masking -->

<!-- For Datepicker -->

<!-- For Validation -->


<script src="../assets/js/one.app.js"></script>
<script src="assets/js/plugins/owl-carousel2.js"></script>
<script src="assets/js/forms/contact.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAFqHeXjYuciTEAHxKSqNBcoXpPB_m26g&callback=initMap"
    async defer></script><script src="assets/js/plugins/gmaps-ini.js"></script>

<script>
$(function() {
  
  App.init();
  OwlCarousel.initOwlCarousel();
  ContactForm.initContactForm();
});


jQuery(document).ready(function() {
  
});

</script>

<!--[if lt IE 10]>
  <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

<!--[if lt IE 9]>
    <script src="assets/plugins/sky-forms-pro/sky-forms/js/sky-forms-ie8.js"></script>
<![endif]-->