<!--
  The data-spy and data-target are part of the built-in Bootstrap scrollspy function.
-->
<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery">
<main class="wrapper">
  <!-- Header -->
  <nav class="one-page-header navbar navbar-default navbar-fixed-top one-page-nav-scrolling one-page-nav__fixed page-scroll" data-role="navigation" data-offset-top="90">
    <div class="container">
      <div class="menu-container">
        <a class="navbar-brand" href="#body">
          <img class="sf-icon" src="assets/img-temp/icon-service-improving-current-salesforce-implementation.png" alt="ALT">
        </a>
      </div>
      <a href="#contact" class="btn-u btn-u-lg btn-u-blue btn-u-upper rounded-2x pull-right">Contact us</a>
    </div>
    <!-- /.container -->
  </nav>